{% include "header.html" %}
<link rel="stylesheet" href="/static/css/screen.css" />
<!-- <script type="text/javascript" src="/static/customizedjs/add_new_project.js"></script> -->
<script type="text/javascript">
	$(document).ready(function() {
	$("#createprojectform").submit(function(event) {
			event.preventDefault();
			var token = getCookie("Authorization");
			$.ajax({
					headers: {
                  			'Authorization':token,
                  	},
					url: "http://127.0.0.1:8000/project/",
					type: "POST",
					data: {
							'name': $("#projectname").val(),
							'description': $("#projectdescription").val(),
					},
					dataType: "json",
					success: function(response) {
							if (response) {
									console.log(response);
									$('.alert').show();
									// alert("Details updated  ")
									window.setTimeout(function() {
											$(".alert").fadeTo(500, 0).slideUp(500, function() {
													$(this).remove();
											});
											location.reload()
									}, 2000);
									if (response.status == 201) {
											alert("Project Created Successfully!");
											window.location = "admindashboard";
									}
									if (response.status == 404) {
											console.log("Error in creating user")
											alert("Error in creating user")
									};
							}
					},
					error: function(err) {
							// alert("Error");
							return false;
					}
			});
	});
});

</script>
<script>
  checkCookie();
</script>
<body>
  <div class="wrapper">
  <div class="sidebar" data-image="/static/img/sidebar-5.jpg">
	 <!--
		Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
		
		Tip 2: you can also add an image using data-image tag
		-->
	 <div class="sidebar-wrapper">
		<div class="logo">
		  <a href="http://www.thoughtwin.com" class="simple-text">
		  Thoughtwin
		  </a>
		</div>
		<ul class="nav">
		  <li  class="nav-item active">
			 <a class="nav-link" href="/admin/dashboard">
				<i class="fa fa-pie-chart" aria-hidden="true"></i>
				<p>Dashboard</p>
			 </a>
		  </li>
		  <li>
			 <a class="nav-link" href="editprofile">
				<i class="fa fa-user fa" aria-hidden="true"></i>
				<p>User Profile</p>
			 </a>
		  </li>
		</ul>
	 </div>
  </div>
  <div class="main-panel">
  <!-- fixed plugin  -->
  <div class="fixed-plugin">
  </div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg " color-on-scroll="500">
	 <div class=" container-fluid  ">
		<a class="navbar-brand" href="dashboard">Admin Dashboard </a>
		<button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-bar burger-lines"></span>
		<span class="navbar-toggler-bar burger-lines"></span>
		<span class="navbar-toggler-bar burger-lines"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navigation">
		  <ul class="nav navbar-nav mr-auto">
			 <li class="nav-item">
				<a href="#" class="nav-link" data-toggle="dropdown">
				<span class="d-lg-none">Dashboard</span>
				</a>
			 </li>
		  </ul>
		  <ul class="navbar-nav ml-auto">
		  	<li class="nav-item" >
			 	<a class="nav-link" href="/admin/sendsms">
					<span class="no-icon">Send sms <i class="fa fa-commenting" aria-hidden="true"></i></span>
			 	</a>
		  	</li>
		  
			 <li class="nav-item">
				<a class="nav-link" onclick="deleteAllCookies()">
				<span class="no-icon"> Log out <i class="fa fa-power-off" aria-hidden="true"></i></span>
				</a>
			 </li>
			
		  </ul>
		</div>
	 </div>
  </nav>
  <!-- End Navbar -->
  <div class="alert alert-success" style="position: absolute;top:30px;left: 25%;height: 40px;width: 300px;color: black;border-radius: 10px; text-align: center;display: none;">
	 Project Added Successfully!
  </div>
  <div class="content">
	 <div class="container-fluid">
		<div class="row">
		  <div class="col-md-12">
		  </div>
		  <div class="col-md-12">
			 <h2>Add Project</h2>
			 <br>
			 <form id="createprojectform" method="post">
				<div>
				  <div class="form-group">
					 <label for="projectname">Project Name</label>
					 <input type="text" class="form-control" id="projectname" placeholder="Enter Project Name" name="name" required>
				  </div>
				  <div class="form-group">
					 <label for="description">Project Description</label>
					 <textarea class="form-control" rows="30" id="projectdescription" name="description" placeholder="Enter Project Description" required></textarea>
				  </div>
				  <br><br>
				  <INPUT TYPE="hidden" NAME="redirect" VALUE="thankyou.html">
				  <button type="Submit">Submit</button>
				</div>
			 </form>
		  </div>
		</div>
	 </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/static/customizedjs/jquery.validate.js"></script>
  <script>
	 $("#createprojectform").validate()
  </script>
  {% include "footer.html" %}