{% include "header.html" %}

<script>
   checkCookie();
</script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/static/customizedjs/datepicker.js"></script>
   <script type = "text/javascript" >
     $(document).ready(function(event) {
         var userid = getCookie("user");
         var el = document.getElementsByName("csrfmiddlewaretoken");
         csrf_value = el[0].getAttribute("value");
         var url = "http://127.0.0.1:8000/user/dashboard";
         $.ajax({
             url: url,
             type: "POST",
             data: {
                 'userid': userid,
                 'csrfmiddlewaretoken': csrf_value
             },
             dataType: "json",
             success: function(response) {
                 var len = response.tt.length;
                 $("#select1").empty();
                 $("#select2").empty();
                 
                 var nonpname = "Thoughtwin | R & D";
                 var pname = "Select Project";
                 $("#select1").append("<option value='0'>" + pname + "</option>");
                 $("#select2").append("<option value='0'>" + nonpname + "</option>");
                 for (i = 0; i < len; i++) {

                      if (response.tt[i].user == userid) {
                        console.log(response.tt[i])
                        var projectid = response.tt[i].project;
                        var name = response.tt[i].project_name;
                        console.log(projectid)
                        $("#select1").append("<option value='" + projectid + "'>" + name + "</option>");
                        $("#select2").append("<option value='" + projectid + "'>" + name + "</option>");

                     }
                 };
             },
             error: function(err) {
              return false;

             }
         });
     }); 
   </script>



<script type="text/javascript">  

   $(document).ready(function() {
        $("#editted_billing_form").submit(function(event) {
            event.preventDefault();
            var newurl=window.location.href;
            var url = $(location).attr('href'),

    		parts = url.split("/"),
    		last_part = parts[parts.length-1];    
            $.ajax({
                url: newurl,
                type: "PUT",
                data: {

                  'id' : last_part,
                  'user':getCookie("user"),
                  'date' : $("#datepicker-6").val(),
                  'project':$("#select1").val(),
                  'billing_description' : $("#billing_description").val(),
                  'billing_hour' : $("#billing_hour").val(),
                  'non_billing_description' :  $("#non_billing_description").val(),
                  'non_billing_hour' : $("#non_billing_hour").val(),
                  'total_hour' : $("#total_hour").val()   

                },
                dataType: "json",
                success: function(response) {
                    if (response) {

                        $('.alert').show();

                        // alert("Details updated  ")
                           window.setTimeout(function() {
                           $(".alert").fadeTo(500, 0).slideUp(500, function(){
                           $(this).remove(); 
                           });
                           location.reload()
                           }, 2000);

                      
                        

                    }
                },
                error: function(err) {
                    // alert("Error");
                    return false;
                }

            });
        });

    });

</script>
<style>
.ui-datepicker-trigger { 
    position:relative;
    /*top:10px ;*/
    right:30px ; 
    height:25px }
 /* {} is the value according to your need */
</style>
<body>


   <div class="wrapper">
   <div class="sidebar" data-image="/static/img/sidebar-5.jpg">
      <!--
         Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
         
         Tip 2: you can also add an image using data-image tag
         -->
      <div class="sidebar-wrapper">
         <div class="logo">
            <a href="http://www.thoughtwin.com" class="simple-text">
            Thoughtwin
            </a>
         </div>
         <ul class="nav">
            <li>
               <a class="nav-link" href="/user/dashboard">
                  <i class="fa fa-pie-chart" aria-hidden="true"></i>
                  <p>Dashboard</p>
               </a>
            </li>
            <li>
               <a class="nav-link" href="/user/userprofile">
                  <i class="fa fa-user fa" aria-hidden="true"></i>
                  <p>User Profile</p>
               </a>
            </li>
              <li class="nav-item active">
                        <a class="nav-link" href="/task/edittask">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <p>Edit Task</p>
                        </a>
                    </li>
         </ul>
      </div>
   </div>
   <div class="main-panel">
   <!-- fixed plugin  -->
   <div class="fixed-plugin">
   </div>
   <!-- Navbar -->
    <div class="alert alert-success" style="position: fixed;top:30px;left: 35%;height: 40px;width: 300px;color: black;border-radius: 10px; text-align: center;display: none;">
               Submitted Successfully!

            </div>
   <nav class="navbar navbar-expand-lg " color-on-scroll="500">
      <div class=" container-fluid  ">
         <a class="navbar-brand" href="admindashboard">My Dashboard </a>
         <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-bar burger-lines"></span>
         <span class="navbar-toggler-bar burger-lines"></span>
         <span class="navbar-toggler-bar burger-lines"></span>
         </button>
         <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="nav navbar-nav mr-auto">
               <li class="nav-item">
                  <a href="#" class="nav-link" data-toggle="dropdown">
                  <span class="d-lg-none">Dashboard</span>
                  </a>
               </li>
            </ul>
            <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                  <a class="nav-link" onclick="deleteAllCookies()">
                  <span class="no-icon">Log out</span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
   <!-- End Navbar -->
    
   <div class="content">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
             
              <!-- {{usertasks}} -->
<form id=editted_billing_form>  
{% csrf_token %}       
<table class="table table-bordered">

<tbody>
   <b>Enter Date: <input type = "text" id = "datepicker-6" value="{{usertasks.date}}"></b><br><br>
<tr>
<th>Project Name</th>
<td><select id="select1">
    <option value="0">Select Project</option>
    </select>[Current Project: {{ usertasks.project_name }}]<br></td>
</tr>
<tr>
<th>Description</th>
<td><textarea rows="2" cols="75" placeholder="Description" id="billing_description">{{usertasks.billing_description}}</textarea></td>
</tr>
<tr>
<th>Time (Hours)</th>
<td><input type="text" id="billing_hour" value="{{usertasks.billing_hour}}">[ hh:mm:ss ]</td>
</tr>
</tbody>
</table>
<br>
<div class="card-header ">
<h4 class="card-title">Non-Billing Hours</h4><br>
</div>
<table class="table table-bordered">
<tbody>
<tr>
<th>Project Name</th>
<td><select id="select2">
        <option value="0">Select Project</option>
    </select></td>
</tr>
<tr>
<th>Description</th>
<td><textarea rows="2" cols="75" placeholder="Description" id="non_billing_description">{{usertasks.non_billing_description}}</textarea></td>
</tr>
<tr>
<th>Time (Hours)</th>
<td><input type="text" name="hours" id="non_billing_hour" value="{{usertasks.non_billing_hour}} ">[ hh:mm:ss ]</td>
</tr>
<tr>
<th>Total Hours</th>
<td><input type="text" id="total_hour" value="{{usertasks.total_hour}}">[ hh:mm:ss ]</td>
</tr>
</tbody>
</table>
<button class="center" id="btn1" type="Submit">Submit</button>
</form>









            </div>
         </div>
      </div>
   </div>
  
   {% include "footer.html" %}