{% include "header.html" %}
      <script>
         checkCookie();
      </script>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 
   <!-- <script type="text/javascript" src="/static/customizedjs/get_details.js"></script> -->
   <script type="text/javascript" src="/static/customizedjs/cal_weekly_hours.js"></script>
   
   <script type="text/javascript">
       $(document).ready(function(event) {
        var userid = getCookie("id");
        var url = "http://127.0.0.1:8000/user/" + userid;
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            success: function(response) {
                if (response) {
                    console.log(response);
                    document.getElementById("fname").innerHTML = response.first_name;
                    document.getElementById("lname").innerHTML = response.last_name;
                    document.getElementById("username").innerHTML = response.user_name;
                    document.getElementById("first_name").innerHTML = response.first_name;
                    document.getElementById("last_name").innerHTML = response.last_name;
                    document.getElementById("mobile").innerHTML = response.mobile;
                    document.getElementById("dob").innerHTML = response.dob;
                    document.getElementById("gender").innerHTML = response.gender;
                    document.getElementById("designation").innerHTML = response.designation;
                    var pic="/static/"+response.model_pic;                
                     $('#profileimg').html('<img class="avatar border-gray" src='+pic+'/>')  
                    if (response.status == 200) {
                        alert("Got details!");
                        console.log("response 200 coming");
                    }
                    if (response.status == 404) {
                        console.log("Error in Getting user details")
                        alert("Error in creating user")
                    }

                }
            },
            error: function(err) {
                return false;
            }
        });
    });
   </script>
<!-- <script type="text/javascript" src="/static/customizedjs/edit_details.js"></script> -->
<script type="text/javascript">
$(document).ready(function() { 
    var id = getCookie("id");
    var urls = "http://127.0.0.1:8000/user/" + id;
    $('#userdetailform').ajaxForm({ 
        url : urls,
        type: "put",
        data:{
          'user': getCookie("user"),
          'id': getCookie("id"),
          'role': getCookie("role"),
        },
        dataType:  'json',
        success:   processJson 
    }); 
});
</script>

<!-- AJAX Return Message -->
<script type="text/javascript">
  function processJson(data) { 
    console.log(data);
    var user = getCookie("user");
     $('.alert').show();
     window.setTimeout(function() {
     $(".alert").fadeTo(500, 0).slideUp(500, function(){
     $(this).remove(); 
     });

     if(data == "PassChanged"){
        window.location.href ="sendmail/"+user
     }
     else{
        location.reload()
       }
     }, 2000);
}
</script>
<script type="text/javascript">
          $(document).ready(function(){   
              $.ajax({
                  url: "https://api.forismatic.com/api/1.0/?method=getQuote&key=457653&format=jsonp&lang=en&jsonp=?",
                  type:"GET",
                     dataType: "json",
                     success: function(response){
                     if(response){
                     
                      document.getElementById("quote").innerHTML = response.quoteText;
                      document.getElementById("author").innerHTML = response.quoteAuthor;
                     }
                 },
                 error: function (err) {
                   // alert("Error");
                   return false;
                 }
         
               });
         
             });
      

</script>
<script>
var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'Password Matched';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'Password Not Matching';
  }
}</script>

<script>
$(document).ready(function(){
    $("#changepassword").click(function(){
        $("#password_field").toggle(1000);
    });
});
</script>


   </head>
   <body>
      <div class="wrapper">
         <div class="sidebar" data-image="/static/img/sidebar-4.jpg">
            <!--
               Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
               
               Tip 2: you can also add an image using data-image tag
               -->
            <div class="sidebar-wrapper">
               <div class="logo">
                  <a href="http://www.thoughtwin.com" class="simple-text">
                  Thoughtwin
                  </a>
               </div>
               <ul class="nav">
                  <li>
                     <a class="nav-link" href="/user/dashboard">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        <p>Dashboard</p>
                     </a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="/user/userprofile">
                        <i class="fa fa-user fa" aria-hidden="true"></i>
                        <p>User Profile</p>
                     </a>
                  </li>
                    <li>
                        <a class="nav-link" href="/task/edittask">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <p>Edit Task</p>
                        </a>
                    </li>
               </ul>
            </div>
         </div>
         <div class="main-panel">
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
               <div class=" container-fluid  ">
                  <a class="navbar-brand" href="/user/dashboard">My Dashboard</a>
                  <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-bar burger-lines"></span>
                  <span class="navbar-toggler-bar burger-lines"></span>
                  <span class="navbar-toggler-bar burger-lines"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end" id="navigation">
                     <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item">
                           <a href="#" class="nav-link" data-toggle="dropdown">
                           <span class="d-lg-none">Dashboard</span>
                           </a>
                        </li>
                     </ul>
                     <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                                <a class="nav-link">
                                    <span class="no-icon" id="billhrs">Billing</span>&nbsp;Billing Hrs&nbsp;/&nbsp;
                                    <span class="no-icon" id="nonbillhrs">NonBilling</span>&nbsp;Non-Billing Hrs
                                </a>
                            </li>
                        <li class="nav-item">
                           <a class="nav-link" onclick="deleteAllCookies()">
                           <span class="no-icon">Log out</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </nav>
            <!-- End Navbar -->
            

            <div class="alert alert-success" style="position: fixed;top:30px;left: 40%;height: 40px;width: 300px;color: black;border-radius: 10px; text-align: center;display: none;">
               Personal Information Saved Successfully!

            </div>
            <div class="content">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-8">
                        <div class="card">
                           <div class="card-header">
                              <h4 class="card-title">Edit Profile</h4>
                           </div>
                           
                           <div class="card-body">
                              <form  id="userdetailform">
                                 <div class="row">
                                    <div class="col-md-6 pr-1">
                                       <div class="form-group">
                                          <label>Company (disabled)</label>
                                          <input type="text" class="form-control" disabled="" placeholder="Company" value="Thoughtwin">
                                       </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                       <div class="form-group">
                                          <label>Email</label>
                                          <textarea style="resize: none;" type="text" name="user_name" id="username" class="form-control" placeholder="Username"></textarea>
                                       </div>
                                    </div>
                                    <!-- <div class="col-md-4 pl-1">
                                       <div class="form-group">
                                          <label>Password</label>
                                          <input type="password" name="password" class="form-control" placeholder="Password">
                                       </div>
                                    </div> -->
                                 </div>
                                 <div class="row">
                                    <div class="col-md-6 pr-1">
                                       <div class="form-group">
                                          <label>First Name</label>
                                          <textarea style="resize: none;" type="text" placeholder="Company" name="first_name" id="first_name" class="form-control"  value=""></textarea>
                                       </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                       <div class="form-group">
                                          <label>Last Name</label>
                                          <textarea style="resize: none;" type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name" value=""></textarea>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-4 pr-1">
                                       <div class="form-group">
                                          <label>Mobile</label>
                                          <textarea style="resize: none;" type="number" name="mobile" id="mobile" class="form-control" placeholder="Mobile" value=""></textarea>
                                       </div>
                                    </div>
                                    <div class="col-md-4 px-1">
                                       <div class="form-group">
                                          <label>DOB</label>
                                          <textarea style="resize: none;" type="date" name="dob" id="dob" class="form-control" placeholder="dob" value=""></textarea>
                                       </div>
                                    </div>
                                    <div class="col-md-4 pl-1">
                                       <div class="form-group">
                                          <label>Gender</label>
                                          <textarea style="resize: none;" type="text" name="gender" id="gender" class="form-control" placeholder="Gender"></textarea>
                                       </div>
                                    </div>
                                 </div>
                                
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="form-group">
                                          <label>Designation</label>
                                          <textarea  style="resize: none;" rows="4" cols="80" class="form-control" placeholder="Your Desgnation" name="designation" id="designation" value=""></textarea>
                                       </div>
                                       <div class="form-group">
                                          <label>Change Profile Picture</label><br>

                                          <input type="file" name="model_pic" id="model_pic">
                                        </div>
                                       <button id="changepassword" type="button" class="btn btn-info btn-fill pull-left">Change Password</button> <br><br>
                                       <div id="password_field" style="height: 150px; display: none;">
                                          <div class="form-group"><br>
                                       
                                          <textarea style="resize: none;" type="text" placeholder="New Password" name="password" id="password" class="form-control"  value="" onkeyup='check();'></textarea><br>
                                          <textarea style="resize: none;" type="text" placeholder="Confirm New Password" name="confirm_password" id="confirm_password" class="form-control" onkeyup='check();' value=""></textarea>
                                          <span id="message"></span>
                                       </div>
                                       </div>
                                    </div>
                                 </div>

                                 <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                 <div class="clearfix"></div>

                              </form>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="card card-user">
                           <div class="card-image">
                              <img src="/static/img/background.jpeg" alt="...">
                           </div>
                           <div class="card-body">
                              <div class="author">
                                 <a href="#">
                                    <span id="profileimg"></span>
                                   
                                    <h5><span class="title" id="fname"></span>&nbsp;<span class="title" id="lname"></span></h5>
                                 </a>
                                 <p class="description">
                                    <b><u>Thought Of The Day</u></b>
                                 </p>
                              </div>
                              <span style="font-style: italic;" class="description text-center" id="quote">
                              </span><hr>
                              -
                              <span style="font-style: italic; class="description text-center" id="author"></span>
                           </div>
                          
                          
                        </div>
                     </div>
                  </div>
               </div>

     
            {% include "footer.html" %}