{% include "header.html" %}


<script>
   checkCookie();
</script>
<script type="text/javascript" src="/static/customizedjs/view_project.js"></script>
<body>
   <div class="wrapper">
   <div class="sidebar" data-image="/static/img/sidebar-5.jpg">
      <!--
         Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
         
         Tip 2: you can also add an image using data-image tag
         -->
      <div class="sidebar-wrapper">
         <div class="logo">
            <a href="http://www.thoughtwin.com" class="simple-text">
            Thoughtwin
            </a>
         </div>
         <ul class="nav">
            <li  class="nav-item active">
               <a class="nav-link" href="/user/admindashboard">
                  <i class="fa fa-pie-chart" aria-hidden="true"></i>
                  <p>Dashboard</p>
               </a>
            </li>
            <li>
               <a class="nav-link" href="/user/admindetails">
                  <i class="fa fa-user fa" aria-hidden="true"></i>
                  <p>User Profile</p>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <div class="main-panel">
   <!-- fixed plugin  -->
   <div class="fixed-plugin">
   </div>
   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg " color-on-scroll="500">
      <div class=" container-fluid  ">
         <a class="navbar-brand" href="admindashboard">Admin Dashboard </a>
         <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-bar burger-lines"></span>
         <span class="navbar-toggler-bar burger-lines"></span>
         <span class="navbar-toggler-bar burger-lines"></span>
         </button>
         <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="nav navbar-nav mr-auto">
               <li class="nav-item">
                  <a href="#" class="nav-link" data-toggle="dropdown">
                  <span class="d-lg-none">Dashboard</span>
                  </a>
               </li>
            </ul>
            <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                  <a class="nav-link" onclick="deleteAllCookies()">
                  <span class="no-icon">Log out</span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
   <!-- End Navbar -->
  
   <div class="content">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
               <h2>View All Projects</h2>
               <br>
<form>
    {% csrf_token %}   
</form>
               <table class="table table-hover table-bordered">
                  <thead>
                     <tr>
                        <th>Project ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created At</th>
                     </tr>
                  </thead>
                  <tbody id="tBody"></tbody>
               </table>

            </div>
         </div>
      </div>
   </div>
 
   {% include "footer.html" %}